node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
**/*.js
**/*.js*
**/node_modules/*
**/dist/*
**/lib
**/lib/*
**/lib/**/*.js
**/lib/**/*.js*
**/dist-ssr/*
**/logs/*
**/logs/*
**/*.log
.firebase/*
